@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Alumni Sans", sans-serif;
}

.home-container {
  width: 60%;
}

.bulletin-board {
  font-family: "Alumni Sans", sans-serif;
  background-color: #9C6139;
  margin: 30px;
  padding: 15px;
  width: 100%;
}

.post-box {
  background-color: #EDE2CA;
  padding: 15px;
  margin: 15px;
  width: auto;
}

.bulletins {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bulletin {
  background-color: #EDE2CA;
  padding: 15px;
  margin: 15px;
  width: 25%;
}
